    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    ul li {
        list-style: none;
        float: left;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    body {
        margin: 0 auto;
        overflow-x: hidden;
    }
    
    @media (min-width:350px) {
        .header_box .header .but_box {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .header_box .header .but_box button {
            margin: 5px;
        }
        .header_box .header .ul_box ul {
            margin-top: 10px;
        }
        .advantage {
            flex-wrap: wrap;
            padding: 50px;
        }
        .journalism_study {
            width: 100vw;
            margin: 0 auto;
            flex-wrap: wrap;
        }
    }
    
    @keyframes myfirst {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .fadeInUp {
        animation: myfirst 0.5s ease;
        animation-fill-mode: forwards;
    }
    /* 头 */
    
    .header_box {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header {
        width: 85vw;
        line-height: 60px;
        letter-spacing: 2px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .header img {
        width: 216px;
        height: 30px;
        line-height: 60px;
        float: left;
    }
    
    .header .ul_box {
        display: inline-flex;
        justify-content: space-around;
    }
    
    .header .ul_box ul {
        display: inline-block;
        justify-content: space-between;
    }
    
    .header ul li {
        text-align: center;
        width: 108px;
        line-height: 60px;
        padding: 0px 10px;
        font-size: 16px;
        line-height: 60px;
        cursor: pointer;
        color: #9aabb8;
        position: relative;
    }
    
    .header ul li.active {
        color: #347abb;
        font-size: 18px;
        font-weight: 700;
    }
    
    .header ul li span {
        opacity: 0;
    }
    
    .header ul li.active span {
        width: 2em;
        height: 4px;
        display: inline-block;
        border-radius: 4px;
        transition: opacity 0.5s ease;
        opacity: 1;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        background: linear-gradient( 90deg, #0059c5, #49d9e3);
    }
    
    .header ul li:hover a {
        color: blue;
    }
    
    .header .but_box {
        float: right;
        margin-right: 10px;
    }
    
    .header .but_box button {
        display: inline-block;
        padding-left: 2px;
        height: 30px;
        width: 70px;
        line-height: 30px;
        border-radius: 16px;
        border: 1px solid #e1e7ec;
        text-align: center;
        cursor: pointer;
        color: #9aabb8;
    }
    
    .header .but_box button.active {
        background: linear-gradient( 90deg, #0059c5, #49d9e3);
        color: white;
    }
    /* 大图 */
    
    .img_box {
        display: flex;
        justify-content: center;
        margin-top: 2px;
        width: 100vw;
    }
    /* 优势 */
    
    .advantage_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
    }
    
    .advantage {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .advantage .advantage_img_box {
        width: 254px;
        height: 310px;
        margin: 34px;
        padding-top: 40px;
        box-shadow: 4px 4px 33px 0 #dae8f0;
        opacity: 0;
    }
    
    .advantage .advantage_img_box img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .advantage .advantage_img_box p {
        width: 163px;
        padding-top: 27px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 2px;
    }
    /* 新闻及学习 */
    
    .journalism_study_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        background: #f5f7fa;
    }
    
    .journalism_study {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1200px;
        padding: 70px 0 70px 0;
    }
    
    .journalism_study .journalism_study_child {
        width: 567px;
        height: 360px;
        padding: 30px;
        border-radius: 5px;
        background-color: #fff;
    }
    
    .journalism_study .journalism_study_child:hover {
        box-shadow: 4px 4px 5px 4px #e4e8ed;
    }
    
    .journalism_study .journalism div {
        width: 100%;
        color: #303133;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .journalism_study .journalism div span {
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 2px;
        font-size: 16px;
    }
    
    .journalism_study .journalism div span::before {
        content: '';
        width: 4px;
        height: 18px;
        display: inline-block;
        background: linear-gradient(#0059c5, #ffffff);
        border-radius: 2px;
        transform: translateY(25%);
        margin-right: 5px;
    }
    
    .journalism_study .journalism ul {
        display: inline-block;
        margin-top: 25px;
        padding-top: 25px;
        border-top: #9aabb8 1px solid;
    }
    
    .journalism_study .journalism ul li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 7px 0;
    }
    
    .journalism_study .journalism ul li a {
        color: #606266;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 1px;
        transition: all .2s;
        flex: 1;
    }
    
    .journalism_study .journalism ul li a::before {
        content: '';
        transform: translateY(-25%);
        display: inline-block;
        background-color: grey;
        opacity: 0.5;
        border-radius: 50%;
        width: 6px;
        height: 6px;
    }
    
    .journalism_study .journalism ul li a:hover {
        color: blue;
    }
    
    .journalism_study .study .text {
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 2px;
        font-size: 16px;
    }
    
    .study .text::before {
        content: '';
        width: 4px;
        height: 18px;
        display: inline-block;
        background: linear-gradient(#0059c5, #ffffff);
        border-radius: 2px;
        transform: translateY(25%);
        margin-right: 5px;
    }
    
    .study .img {
        margin-top: 25px;
        position: relative;
    }
    
    .study .img img {
        width: 100%;
        height: auto;
    }
    
    .study .img button {
        border: none;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.3s ease;
        background-color: rgba(31, 45, 61, .11);
        color: #fff;
        position: absolute;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
        font-size: 12px;
    }
    
    .study .img:hover button {
        opacity: 1;
    }
    
    .study .img button:nth-child(1) {
        left: 0px;
    }
    
    .study .img button:nth-child(2) {
        right: 0px;
    }
    /* 热门资源 */
    
    .hot_box {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 63px;
        margin-bottom: 58;
    }
    
    .hot_box h3 {
        display: inline-block;
        width: 100vw;
        text-align: center;
        line-height: 37px;
        letter-spacing: 3px;
        font-weight: 600;
        color: #303133;
        font-size: 26px;
    }
    
    .hot_box .list_box {
        width: 85vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .hot_box .list_box div {
        width: 226px;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 8px 8px 18px 0 rgba(215, 219, 221, 0.5);
        margin-top: 60px;
        opacity: 0;
        transition: all 0.2s ease;
    }
    
    .hot_box .list_box div:hover {
        box-shadow: 8px 8px 18px 0 rgba(215, 219, 221, 1);
    }
    
    .hot_box .list_box a {
        display: inline-block;
        height: auto;
        width: auto;
        text-align: center;
    }
    
    .hot_box .list_box div h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        width: 75%;
        font-size: 14px;
        color: #303133;
        padding: 30px;
        white-space: nowrap;
    }
    
    .hot_box .list_box div a img {
        width: 224px;
        height: 147px;
        display: inline-block;
    }
    
    .hot_box .more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 63px 0 58px 0;
        color: #347abb;
        font-size: 22px;
        letter-spacing: 2px;
        font-weight: 600;
        position: relative;
    }
    
    .hot_box .more span {
        transform: rotate(90deg);
        font-size: 18px;
        position: relative;
        bottom: -3px;
        margin-left: 5px;
    }
    /* 底部 */
    
    .Information_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 228px;
        background-color: #3d4553;
        color: #fff;
        position: relative;
    }
    
    .Information_box .Information {
        display: flex;
        justify-content: space-between;
        width: 85vw;
        position: relative;
        top: 0;
    }
    
    .Information_box .Information .qr {
        display: flex;
        justify-content: center;
        align-items: centerz;
    }
    
    .Information .text .one span a {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        line-height: 28px;
        letter-spacing: 1px;
    }
    
    .Information .text .one button {
        margin-left: 30px;
        padding: 4px 8px;
        background: #484f5d;
        border-radius: 4px;
        border: 0;
    }
    
    .Information .text .one button a {
        opacity: 0.6;
    }
    
    .Information .text .two div {
        height: 22px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        line-height: 22px;
        letter-spacing: 1px;
    }
    
    .Information .text .two div span {
        font-size: 12px;
        font-weight: 400;
        color: #75787d;
    }
    
    .Information .text .two_box span {
        font-size: 14px;
        font-weight: 400;
        color: #a7aab1;
        line-height: 20px;
        letter-spacing: 1px;
    }
    
    .Information .text .two_box .img::before {
        content: "";
        display: inline-block;
        width: 25%;
    }
    
    .Information .text .two_box .span::before {
        content: "";
        display: inline-block;
        width: 16%;
    }
    
    .Information .text .two_box .img img {
        width: 13px;
        height: 16px;
    }
    
    .Information .text .three {
        font-size: 14px;
        font-weight: 400;
        color: #a7aab1;
        line-height: 20px;
        letter-spacing: 1px;
        margin-left: 30px;
    }
    
    .Information .text .three ul li:first-child {
        margin-left: -30px;
    }
    
    .Information .text .three ul li {
        margin: 15px;
    }
    
    .Information .text .two,
    .Information .text .three {
        margin-top: 20px;
    }
    /* 二维码 */
    
    .Information .qr {
        display: flex;
        flex-direction: column;
    }
    
    .Information .qr span {
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        margin-top: 10px;
    }
    
    .Information .qr img {
        width: 129px;
        height: 129px;
    }
    /* 版权 */
    
    .copyright_box {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e2e9f3;
    }
    
    .copyright_box div {
        line-height: 36px;
        font-size: 14px;
        font-weight: 400;
        color: #3f4e67;
    }
    /* 侧边栏 */
    
    .sidebar_box {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .sidebar {
        box-shadow: rgb(229, 238, 249) 0px 8px 11px 4px;
        background-color: rgb(255, 255, 255);
        color: rgb(228, 231, 237);
        font-size: 12px;
    }
    
    .sidebar_box .sidebar ul li {
        clear: both;
        margin: 10px;
    }
    
    .sidebar_box .sidebar ul li span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 44px;
        width: 44px;
        text-align: center;
        background-color: #000000;
    }